<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/core/home']">
      <img
        src="assets/wehrli.svg"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      [routerLink]="['/core/home']"
      class="btn btn-outline-success me-2"
      type="button"
    >
      Inicio
    </button>
    <div class="ms-auto">
      <button
        [routerLink]="['/core/services']"
        class="btn btn-outline-success me-2"
        type="button"
      >
        Servicios
      </button>
      <button
        [routerLink]="['/core/about']"
        class="btn btn-outline-success me-2"
        type="button"
      >
        Experiencia
      </button>
      <button
        [routerLink]="['/core/contact']"
        class="btn btn-outline-success me-2"
        type="button"
      >
        Contacto
      </button>
    </div>
    <button
      [routerLink]="['/auth']"
      class="btn btn-outline-dark me-2"
      type="button"
    >
      Cuenta
    </button>
  </div>
</nav>
