<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="core">
      <img
        src="assets/wehrli.svg"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Wehrli Servicios Agropecuarios
    </a>
    <a class="nav-link active" aria-current="page" [routerLink]="['/core/home']"
      >Inicio</a
    >
    <a class="nav-link" [routerLink]="['/core/contact']">Contacto</a>
    <a class="nav-link" [routerLink]="['/core/services']">Servicios</a>
    <a class="nav-link" [routerLink]="['/core/about']">Nosotros</a>
  </div>
</nav>
