<div class="container">
  <div
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <p class="col-md-4 mb-0 text-body-secondary">© 2024 Wehrli</p>

    <a
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <img
        src="assets/wehrli.svg"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a
          class="nav-link px-2 border border-secondary text-body-secondary rounded"
          [routerLink]="['/core/contact']"
          >Contactar</a
        >
      </li>
    </ul>
  </div>
</div>
